# Example configuration file for Huck
# This file should live at /etc/huck.conf

generator: facter
submitter: sqs
receiver: sqs
sqs:
  access_key_id: <access_key_id_here>
  secret_access_key: <secret_access_key_here>
  region: us-west-2
  queue_name: discover
