# Example Huck configuration file.
# All uncommented values reflect defaults.

### Client configuration items

# Available senders: sqs, rabbitmq
sender: sqs

# Configure generators. Having multiple generators configured
# will send multiple messages during a client run.
generators:
  - basic:  { format: json }
#  - ohai:   { format: json }
#  - facter: { format: json }
#  - file:   { path: /path/to/file.txt }
#  - exec:   { command: uptime }

### Server configuration items

# Available receivers: sqs, rabbitmq
receiver: sqs

# Configure handlers. Having multiple handlers configured will cause
# huck to run each of them every time a message is received.
handlers:
  - echo: {}
#  - exec: { command: cat >> /tmp/huck-messages.txt }

# SQS configuration. This will be used by the SQS sender and receiver.
#sqs:
#  access_key_id: <access_key_id_here>
#  secret_access_key: <secret_access_key_here>
#  region: <your_region>
#  queue_name: <your_queue>

# RabbitMQ configuration. This will be used by the RabbitMQ sender/receiver.
# The only required configuration here is the queue_name.
#rabbitmq:
#  host: localhost
#  port: 5672
#  user: <user>
#  pass: <pass>
#  vhost: <vhost>
#  queue_name: <queue>
