body {
  padding: 0;
  margin: 0;
  background-color: #4d3d2d;
}

a, a:visited, a:active {
  text-decoration: none;
  color: #fad560;
}

a:hover {
  color: #60fa79;
}

h1 {
  padding-top: 40px;
}

.banner {
  width: 100%;
  height: 140px;
  background-color: #331d09;
}

.banner .logo {
  float: left;
  height: 100%;
  margin: 20px 0;
}

.banner .nav {
  width: 100%;
  height: 100%;
  padding-top: 70px;
  font-size: 40px;
  text-align: right;
}

.banner .logo img {
  padding: 12px 0;
  height: 75px;
}

.page-container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Rajdhani', sans-serif;
  font-size: 23px;
  color: #fff;
}

.landing {
  font-size: 40px;
  text-align: center;
  padding: 100px 50px;
  font-weight: 700;
}

.title {
  color: #dfb468;
  font-size: 27px;
  font-weight: 700;
}

table.center {
  margin: 0 auto;
  padding-top: 30px;
}

tr, td {
  padding: 0 20px;
}

td {
  font-size: 23px;
  color: #fff;
  text-align: left;
  vertical-align: top;
}

pre {
  padding: 12px;
  border-radius: 3px;
  font-family: 'Oxygen Mono';
  font-size: 17px;
  border: 0;
}

code {
  padding: 3px;
  font-size: 18px;
  border-radius: 3px;
  background-color: #362311;
  color: #c0a377;
}

.highlight code {
  padding: 0;
}

.highlight code, .highlight pre {
  background-color: #000;
  color: #fff;
}

.footer {
  width: 100%;
  height: 500px;
  margin-bottom: -50%;
  background-color: #331d09;
}

.footer table {
  position: relative;
  top: 40%;
}

.footer td {
  font-family: 'Rajdhani', sans-serif;
  color: #86684A;
}
